@import url('https://fonts.googleapis.com/css?family=Elsie|Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  background: #654dff;
  overflow: hidden;
  color: white;
}


.subheading {
  margin: 5px 5px 20px 5px;
}

#container {
  height: 100vh;
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: 'Elsie', cursive;
}

.btn {
  border: none;
  background: #5842f4;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 2px;
  cursor: pointer;
  padding: 3px;
  color: white;
}

.save-btn {
  background: #ffa100;
}

.delete-btn {
  background: #ff2200;
}

.fas {
  padding: 1px;
}

button:focus,
input[type="button"]:focus {
  outline: none;
}


.btn-cont {
  display: flex;
  justify-content: center;
}

.form-item {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-item>label {
  flex: 1;
}

.form-item>button {
  background: grey;
  color: white;
  border: 0;
}

input[type="radio"i] {
  margin: 0 7px 0 7px;
}

#form-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}

#new-form {
  width: 400px;
  margin-bottom: 20px;
}

#trips-container {
  width: 640px;
  display: flex;
  flex-direction: row;
}

#trips-container>* {
  flex: 1 0;
}

#trip-list {
  list-style-type: none;
  margin-top: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}


#itemContainer {
  margin: 5px;
  background: #ff4d8e;
  border-radius: 5px;
  text-align: center;
  width: 140px;
}

.itemStyle {
  padding: 5px;
}

.countryItem {
  padding: 5px;
  background: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}