@import url("https://fonts.googleapis.com/css?family=Elsie|Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  color: white;
  background: #1e88e5;
}

.subheading {
  margin: 5px 5px 20px 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}

input[type="radio"] {
  color: red;
}

#container {
  height: 100vh;
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-wrap {
  background: RGBA(0, 0, 0, 0.19);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
}

h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.heading {
  font-family: "Elsie", cursive;
  text-align: center;
}

.btn {
  border: none;
  background: #2d8dcb;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 2px;
  cursor: pointer;
  padding: 3px;
  color: white;
}

.save-btn {
  color: #3c3c3c;
  background: #fdd835;
}

.delete-btn {
  color: #3c3c3c;
  background: #fdd835;
}

.fas {
  padding: 1px;
}

button:focus,
input[type="button"]:focus {
  outline: none;
}

.btn-cont {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.form-item {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.form-item > label {
  flex: 1;
}

.form-item > button {
  background: grey;
  color: white;
  border: 0;
}

input[type="radio"i] {
  margin: 0 7px 0 7px;
}

#form-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}

#new-form {
  width: 400px;
  margin-bottom: 10px;
}

#trips-container {
  width: 640px;
  display: flex;
  flex-direction: row;
}

#trips-container > * {
  flex: 1 0;
}

#trip-list {
  list-style-type: none;
  margin-top: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#itemContainer {
  margin: 5px;
  color: #3c3c3c;
  background: #fdd835;
  border-radius: 5px;
  text-align: center;
  width: 140px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}

.itemStyle {
  padding: 5px;
}

.countryItem {
  padding: 5px;
  color: #3c3c3c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid RGBA(0, 0, 0, 0.19);
}
